[submodule "common/wxWidgets"]
	path = common/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "common/capnproto"]
	path = common/capnproto
	url = https://github.com/capnproto/capnproto.git
[submodule "common/portaudio"]
	path = common/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "common/ffmpeg"]
	path = common/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "common/llvm"]
	path = common/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "common/meson"]
	path = common/meson
	url = https://github.com/mesonbuild/meson.git
[submodule "common/glfw"]
	path = common/glfw
	url = https://github.com/glfw/glfw.git
