[submodule "common/ffmpeg"]
	path = common/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "common/llvm"]
	path = common/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "common/meson"]
	path = common/meson
	url = https://github.com/mesonbuild/meson.git
[submodule "project-swan"]
	path = project-swan
	url = https://github.com/mortie/project-swan.git
